<% @games.each do |g| %>
	<% if (g.users.count)<=9 %>
		<div class="col-md-4" >
			<div class="panel panel-default" id="new_game">
				<div class="panel-heading">
					<h3 class="panel-title">Игра №<%= g.id %></h3>
				</div>
				<ul class="list-group">
					<li class="list-group-item">
			   			<span aria-hidden="true">
							Ставка: <%= g.rate %> rub
						</span>
					</li>
			   		<li class="list-group-item">
			   			<span aria-hidden="true">
							Участники:
								<% (g.users.where('game_id = ?', g.id)).each do |gu|%>
									<%= gu.login %>
							<% end %>
						</span>
					</li>
					<li class="list-group-item">
			   			<span aria-hidden="true">
							<%= button_to "Участвовать",  {action: 'add_player', id_game: g.id }, method: :post, :class => "btn btn-success btn-block"%>
						</span>
					</li>
				</ul>	
			</div>
		</div>
	<% end %>
<% end %>