<% @games.each do |g| %>
	<% if (g.users.count)<=9 %>
		<div class="col-md-4" >
			<div class="panel panel-default" id="new_game">
				<div class="panel-heading">
					<h3 class="panel-title">Игра №<%= g.id %></h3>
				</div>
				<ul class="list-group">
					<li class="list-group-item">
							Ставка: <%= g.rate %> rub
					</li>
			   		<li class="list-group-item">
							Участники:
								<% (g.users.where('game_id = ?', g.id)).each do |gu|%>
									<%= gu.login %>
							<% end %>
					</li>
					<% if (g.users.where('user_id = ?', current_user.id)).count == 0 %>
						<li class="list-group-item">
							<%= button_to "Учавствовать",  {action: 'add_player', id_game: g.id }, method: :post, :class => "btn btn-success btn-block" %>
						</li>
					<% else %>
						<li class="list-group-item list-group-item-danger text-center">Вы уже учавствуете</li>
					<% end %>
				</ul>	
			</div>
		</div>
	<% end %>
<% end %>