<div class="container">
	<div>
  		<ul class="nav nav-tabs" role="tablist">
    		<li role="presentation" class="active"><a href="#active" aria-controls="active" role="tab" data-toggle="tab"><span class="" aria-hidden="true"></span> Активные игры </a></li>
    		<li role="presentation"><a href="#end" aria-controls="end" role="tab" data-toggle="tab"><span class="" aria-hidden="true"></span> Завершенные игры</a></li>
  		</ul>
  		<div class="tab-content">
    		<div role="tabpanel" class="tab-pane active" id="active">
    			<div class="row">
    				<%= render "shader/game_active" %>
    			</div>
    		</div>
	    	<div role="tabpanel" class="tab-pane" id="end">
	    		<div class="row">
	    			<%= render "shader/game_end" %>
	    		</div>
	    	</div>
  		</div>
	</div>	
</div>
