<div class="container">
	<div class="jumbotron">
	  <h1 class="text-center">Добро пожаловать!</h1>
	  <p>Наш интернет-проект представляет собой совокупность честной, оригинальной, моментальной лотереи. Наш проект предоставляет открытую статистику активных и проведенных играх.</p>
	</div>	
		
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i>Мгновенная</h4>
                </div>
                <div class="panel-body">
                    <p>Для победы Вам потребуется только 4 шага:</p>
                    <p>1. <%= link_to "Зарегистрироваться", new_user_registration_path %> или <%= link_to "войти в свой аккаунт", new_user_session_path %></p>
                    <p>2. <%= link_to "Пополнить", deposit_path  %> баланс</p>
                    <p>3. <%= link_to "Выбрать игру", game_path %> с интересующей вас ставкой</p>
                    <p>4. Ожидание розыгрыша</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i>Вывод раз в сутки</h4>
                </div>
                <div class="panel-body">
                    <p>Вывод денежных средств осуществляется в полуавтоматическом режиме.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>Легкая в использовании</h4>
                </div>
                <div class="panel-body">
                    <p>Наш проект предоставляет простой и легкий сервис минимизирующий количество действий совершаемых пользователем.</p>
                </div>
            </div>
        </div>
    </div>
</div>		