<div class="jumbotron">
  <h2 class="text-center"><b>Регламент интернет-проекта "ЛОВИ ШАНС"</b></h2>
	<p><t><b>1. Статус и ответственность сторон соглашения</b></p>

	<p>	1.1 Интернет-проекта "ЛОВИ ШАНС"

	<p>1.1.1 Интернет-проект "ЛОВИ ШАНС" является совокупностью размещенных в сети Интернет программ, предназначенных для предоставления пользователям сети удобного автоматизированного интерфейса, позволяющего совершать мгновенные розыгрыши.

	<p>1.1.2 Все расчеты в Интернет-проекте "ЛОВИ ШАНС" осуществляются с помощью платежной системы <a href="https://qiwi.ru/" target="_blank">"QIWI"</a>. Все внутренние расчеты в Интернет-проекте "ЛОВИ ШАНС" осуществляются игровой валютой RUB.

	<p>1.1.3 Деньги на игровой счет зачисляются сразу после перевода. В отдельных случаях при оплате счетов возникают задержки. Эти задержки не превышают 5 минут. Не стоит волноваться, если деньги Вам сразу не зачислились.

	<p>1.1.4 Вывод средств производится в полуавтоматическом режиме в рабочее время, с 09.00 до 19.00 по МСК, кроме субботы и воскресенья. По усмотрению финансовой службы, от Вас могут потребоваться документы, подтверждающие Вашу личность или принадлежность Вам кошелька. Каждый запрос на вывод рассматривается индивидуально.

	<p>1.1.5 Организаторы Интернет-проекта "ЛОВИ ШАНС" не несут ответственности за правомерность и стабильное функционирование платежной системы и сопутствующих ей сервисов.

	<p>1.1.6 Сумма запроса на вывод списывается с Вашего игрового аккаунта сразу. На Ваш кошелек (счет) сумма поступает только после обработки запроса. Если запрос еще не был обработан, то Вы можете отменить запрос на вывод в разделе «История платежей», и сумма вернется на Ваш игровой аккаунт. Внимание! Для формирования запроса на вывод, Вам необходимо совершить сумму ставок равную сумме Вашего депозита.

	<p>1.1.7 Деньги выводятся только на тот кошелек (счет), с которого осуществлялось пополнение игрового аккаунта. 

	<p>1.1.8 Организаторы Интернет-проекта "ЛОВИ ШАНС" имеют право по своему усмотрению отказать пользователю: в предоставлении определенных услуг проекта, с выплатой активной суммы со счета, в случае появления подозрений нечестной игры, накрутке, вмешательства в установленный правилами ход игры, использования программно-аппаратных средств, введения в заблуждение соперников (в чате/ICQ и т.п.), СПАМ-а от имени партнера или игрока проекта "ЛОВИ ШАНС" и иных неправомерных действий пользователя в отношении Интернет-проекта "ЛОВИ ШАНС" или его пользователей. Активная сумма со счета не выплачивается.

	<p>1.1.9 Организаторы Интернет-проекта "ЛОВИ ШАНС" имеют право по своему усмотрению отказать пользователю в предоставлении услуг проекта полностью или частично, если будет выявлен факт злоупотребления правилами, мультиаккаунтство.

	<p>1.1.10 Организаторы Интернет-проекта "ЛОВИ ШАНС" имеют право заблокировать аккаунт партнера, если активность по нему не регистрировалась более 6-ти месяцев, и аккаунт игрока, если активность по нему не регистрировалась более 12 месяцев. Невостребованные в срок суммы на счетах заблокированных аккаунтов не возвращаются. Обратитесь в службу технической поддержки для получения детальной информации.

	<p>1.1.11 Организаторы Интернет-проекта "ЛОВИ ШАНС" не передают личные данные игроков и партнеров, их статистику и иные уникальные данные аккаунтов третьим лицам.

	<p>1.1.12 Организаторы Интернет-проекта "ЛОВИ ШАНС" имеют право в любое время вносить изменения в настоящий Регламент. Новый Регламент вступает в силу с момента его публикации.

	<p>1.1.13 Для предотвращения финансовых махинаций администрация Интернет-проект "ЛОВИ ШАНС" оставляет за собой право требовать документальное свидетельство подтверждающее личность человека и его данные, введенные при регистрации, в том числе контактный телефон. Администрация Интернет-проекта "ЛОВИ ШАНС" вправе заблокировать счет пользователя до предоставления документов подтверждающих личные данные игрока.

	<p>1.1.14 Для блокировки аккаунта необходимо подать запрос, указав причину блокировки. Администрация проекта рассмотрит запрос и примет решение по блокировке/разблокировке аккаунта. Вывод средств с заблокированных аккаунтов может осуществляться на усмотрение администрации проекта, согласно правилам вывода средств.

	<p>1.2 Пользователи и игроки интернет-проекта "ЛОВИ ШАНС"

	<p>1.2.1 Пользователем Интернет-проекта "ЛОВИ ШАНС" может быть любое лицо, пришедшее на сайт <a href="" target="">"Лови шанс"</a> и принимающее на себя обязанности безусловного соблюдения данного Регламента в форме открытой оферты.

	<p>1.2.2 Пользователям Интернет-проекта "ЛОВИ ШАНС", не достигшим 18-летнего возраста, игра запрещена.

	<p>1.2.3 Игроки могут принимать участие в азартных играх, пройдя регистрацию в проекте.

	<p>1.2.4 Игроки не имеют права регистрироваться по своей партнерской ссылке. В случае обнаружения подобного рода накруток, суммы ставок и депозитов не возвращаются, а аккаунт блокируется.

	<p>1.2.5 Игрокам запрещена игра с использованием дополнительных программно-аппаратных средств, функции которых сводятся к прогнозу и автоматизации процесса игры.

	<p>1.2.6 Игрокам запрещено вводить средства со счетов, которые не принадлежат им.

	<p>1.2.7 Пользователь несёт ответственность за хранение своих регистрационных данных. Если пользователь опасается, что эти данные попали в чужие руки, ему следует их сменить.

	<p>1.2.8 Игрок не должен предоставлять доступ к своей странице посторонним лицам, как и не должен разрешать третьим лицам участвовать в игре, которая ведется с использованием баланса игрока.

	<p>1.2.9 Игроки осознают возможность как выигрыша, так и проигрыша.

	<p>1.2.10 Игроки дают согласие на получение важных информационных сообщений по электронной почте.

	<p>1.2.11 Игроки дают согласие на открытую публикацию обезличенной статистической информации.

	<p>1.2.12 Попытки стороннего вмешательства в процесс игры с целью подтасовки результата или нарушения работы сайта наказываются блокировкой. Находящиеся на счету средства не возвращаются.

	<p>1.2.13 Все спорные вопросы будут разрешаться путем переговоров. Любые убытки, которые посетитель может понести в случае умышленного или неосторожного нарушения любого требования данного Регламента, организаторами Интернет-проекта "ЛОВИ ШАНС" не возмещаются.

	<p>1.2.14 Игроки подтверждают полное согласие с правилами игр в том виде, в котором они действуют на момент совершения каждой отдельной ставки.

	<p>1.3 Партнеры интернет-проекта "ЛОВИ ШАНС"

	<p>1.3.1 Партнером Интернет-проекта "ЛОВИ ШАНС" может быть любое лицо, прошедшее регистрацию на сайте <a href="" target="">"Лови шанс"</a> и принимающее на себя обязанности безусловного соблюдения данного Регламента в форме открытой оферты.

	<p>1.3.2 Партнеры Интернет-проекта "ЛОВИ ШАНС" имеют право использовать готовые баннеры или баннеры собственной разработки, не противоречащие этическим и законодательным нормам, установленным для интернет-рекламы.

	<p>1.3.3 Партнеры Интернет-проекта "ЛОВИ ШАНС" имеют право рекламировать партнерскую ссылку всеми известными способами, исключая СПАМ рассылку и иные виды рекламы, противоречащие этическим и законодательным нормам, установленным для интернет-рекламы.

	<p>1.3.4 Партнеры не имеют права принимать участие в играх на сайте <a href="" target="">"Лови шанс"</a>, используя свою партнерскую ссылку! Несоблюдение данного условия влечет за собой блокировку аккаунта Партнера и отказ от дальнейшего сотрудничества. Находящиеся на счету Партнера средства не возвращаются.

	<p>1.3.5 Партнеры дают согласие на получение важных информационных сообщений по электронной почте.

	<p>1.3.6 Партнерское вознаграждение не начисляется партнеру, если игрок, закрепленный за партнером, нарушил текущие правила проекта.

	<p>1.3.7 В партнерской программе учитываются игроки совершившие депозит.

	<p>2. Отсутствие гарантий со стороны организаторов интернет-проекта "ЛОВИ ШАНС"

	<p>2.1 Организаторы Интернет-проекта "ЛОВИ ШАНС" не гарантируют постоянный или безусловный доступ к предоставляемым услугам. Функционирование проекта может нарушаться действиями непреодолимых сил и иных факторов, предотвращение или преодоление которых выходит за пределы возможностей организаторов Интернет-проекта "ЛОВИ ШАНС".

	<p>3. Заключительные положения

	<p>3.1 Все спорные вопросы будут разрешаться путем переговоров.

	<p>3.2 Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого требования данного Регламента, организаторами Интернет-проекта "ЛОВИ ШАНС" не возмещаются.

	<p>Редакция от 2016-02-22
</div>