<div class="container">
	<% if user_signed_in? %>
		<h2>Страница для вывода</h2>
		<p> Для вывода средств со счета вам нужно иметь минимум 100 рублей </p>
	<% else %>
		<%= render "shader/unincluded" %>
	<% end %>
</div>