// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 70px;
  padding-bottom: 70px;
}


#new_game .button_to {
	margin-top: 70px;
}
